<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests" >

	 <listeners>
         <listener class-name="com.framework.Listeners.TestListener" />
         <!-- <listener class-name="com.framework.Listeners.AnnotationTransformer"/> -->
    </listeners>
    <test name="com.FirstTest.Chrome" parallel="classes" thread-count="2">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.tests.LoginTest"/>                 
        </classes>
    </test> 
    <test name="com.SecondTest.Firefox"  parallel="classes" thread-count="2">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.tests.LoginTest"/>                
        </classes>
    </test>
    <test name="com.ThirdTest.Chrome"  parallel="methods" thread-count="2">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.tests.LoginTest"/>                
        </classes>
    </test> 
     <test name="com.FourthTest.Firefox"  parallel="methods" thread-count="2">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.tests.LoginTest"/>                
        </classes>
    </test>
       
</suite> <!-- Suite -->